* {
    margin: 0px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple;
}

header li {
    float: left;
}

header li a {
    font-family: 'Staatliches', cursive;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: dimgrey;
}