
.pagination {
    display: inline-block;
}

.pagination button {
    color: magenta;
    margin: 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    background-color: transparent;
    outline: none;
    border-radius: 3px 3px 3px 3px;
}


.pagination button:hover:not(.active) {
    background-color: darkmagenta;
}
 a{
     color: magenta;
     text-decoration: none;
 }