.green {
    background-color: green;
    border-radius: 5px;
    margin: 3px;
}

.red {
    background-color: red;
    border-radius: 5px;
    margin: 3px;
}

.blue {
    background-color: blue;
    border-radius: 5px;
    margin: 3px;
}

#red:checked ~ *.red {
    display: none;
    position: absolute;
}

#blue:checked ~ *.blue {
    display: none;
    position: absolute;
}

#green:checked ~ *.green {
    display: none;
    position: absolute;
}

input[type=checkbox] {
    display: none;
}

#red ~ label[for='red'] {
    color: red;
    text-decoration-line: underline;
}

#blue ~ label[for='blue'] {
    color: blue;
    text-decoration-line: underline;
}

#green ~ label[for='green'] {
    color: green;
    text-decoration-line: underline;
}

#red:checked ~ label[for='red'] {
    color: gray;
}

#blue:checked ~ label[for='blue'] {
    color: gray;
}

#green:checked ~ label[for='green'] {
    color: gray;
}

