.header {
  font-family: sans-serif;
  font-size: 22px;
}

.container {
  background-image: url("title-back.jpg");
  margin-left: 30px;
  margin-left: 20px;
  min-height: 520px;
}

A:link {
  color: #036;
}

A:visited {
  color: #606;
}

A:hover {
  color: #f00;
  text-decoration: underline;
}

A:active {
  color: #ff0;
}

.header ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
}

.header li {
  float: left;
  margin: 15px;
}

.header li a {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  opacity: 0.5;
}

.img img {
  float: left;
}

.text {
  font-family: sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;

}

button {
  background-color: Transparent;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
  margin-top: 150px;
  width: 170px;
  height: 40px;
  background-repeat: no-repeat;
}

.text2 {
  color: white;
  text-align: center;

}

.float {
  text-align: center;
}

.text3 {
  font-size: 14px;
  color: white;
}

