.button {
  color: white;
  margin: 10px 25px 10px 25px;
  background-color: darkorange;
  width: 200px;
  height: 30px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 4px solid #d9750c;
  border-radius: 4px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li img {
  position: absolute;
  left: 20px;
  top: 12px
}

.icon li {
  list-style-type: none;
  background-color: cornflowerblue;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

li:nth-child(even) {
  background-color: #ffd1bc;
}

.content {
  width: 250px;
  margin: 0 auto;
}

.container {
  margin: auto;
  position: relative;
  width: 300px;
  height: auto;
  border: 3px solid darkorange;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.44);
  padding-bottom: 20px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.header h3 {
  display: initial;
  margin-left: 30%;
  position: absolute;
  color: #fff;
}

.header {
  background-color: darkorange;
  width: auto;
  height: 60px;
}

.size {
  font-size: 250%;
}

.sup {
  font-size: 0.83em;
  vertical-align: super;
  line-height: 100%;
  margin-bottom: 10px;
}

p {
  text-align: center;
  position: relative;
}

p .sup {
  position: absolute;
  top: -2px;
  left: 69px;
  font-size: 150%;
}

