p {
    font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта основного текста */
    font-size: 90%; /* Размер шрифта */
}
p:first-letter {
    font-family: "Times New Roman", Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
}
.big{
    font-size: 40px;
}
.blue{
    color: chocolate;
}
.red {
    color: red;
}
#green{
    color: green;
}
.green{
    background-color: chocolate;
}
#orange{
    color: orange;
}