html,
body {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}

.wrap {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background: #120103;
}

header {
    background: #3e474f;
    box-shadow: 0 .5em 1em #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
}

header label {
    color: #7888188;
    cursor: pointer;
    display: inline-block;
    line-height: 4.25em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
}

header label:hover {
    background: #2e353b;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #120103;
    background-position: 50% 50%;
    background-size: cover;
    transition: left 0s .75s;
}

.slide-one {
    background-image: url('../images/slide-picture-1.jpg');
}

.slide-two {
    background-image: url('../images/slide-picture-2.jpg');
}
.slide-three {
    background-image: url('http://www.look.com.ua/pic/201409/1600x900/look.com.ua-111014.jpg');
}
.slide-four {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/65463/lakehouse.jpg');
}

.slide h1 {
    opacity: 0;
    transform: translateY(100%);
    transition: transform .5s .5s, opacity .5s;
}

[id^='slide']:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
}

[id^='slide']:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all .5s .5s;
}