.conteiner {
  width: 1350px;
  height: 400px;
  background: black;
}

.left {
  float: left;
}

.message {
  background-color: black;
  color: orange;
  width: 40%;
  padding: 30px;
}

.right {
  float: right;
}

.img img {
  width: 100px;
  height: 100px;
}

.header {
  color: orange;
  text-align: center;
  font-weight:bold;
  font-size: 30px;
}
.comments {
  width: 400px;
}

.comment {
  width: auto;
  height: 60px;
  margin-bottom: 20px;
}

.comment p {
  margin: 0 0 10px 0;
}

.dialog {
  position: relative;
  background: #fff;
  padding: 20px;
  color: #222;
  border-radius: 3px;
  margin-left: 120px;
}

.dialog::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
  top: 45px;
}
.col {
  color: dodgerblue;
}
.col2 {
  color: #888c94;
}