body {
  margin-right: 100px;
  padding: 0;
  box-sizing: border-box;
}
.index {
  z-index:10;
}
.pricing-block {
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 6px 3px #ddd;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.title {
  font-size: 23px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

.title2 {
  font-size: 23px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

.title3 {
  font-size: 23px;
  font-weight: 600;
  padding: 20px 0;
  margin: 0;
}

.content {
  font-size: 23px;
  font-weight: 600;
  color: #3f4042;
  padding: 18px 0 5px;
  margin: 0;
}

.value {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  color: #35495a;
  text-transform: none;
  margin: 0 auto;
  width: 100%;
}

.value sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -3px;
}

.value sub {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.features {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 17px;
  padding: 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
}

.features > li {
  background: url("arrow.png") no-repeat;
  background-position: 32px 11px;
  padding: 7px 8px 8px 62px;
  border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
  background-color: #edf5fd;
}

.features > li:nth-child(even) {
  background-color: #f5f5f6;
}

.cta-btn {
  padding: 10px 0;
  margin: 3px auto 30px;
  width: 85%;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

/*Specific styles for BEST VALUE block*/
.best-value {
  margin: 50px auto;
  width: 290px;
  border: 4px solid #ee8129;
  margin-right: 590px ;
}

.standard {
  margin: 60px;
  width: 290px;
  position: relative;
  z-index: -10;
}

.best-value .title {
  color: white;
  background: #ee8129;
}

.title2 {
  color: white;
  background: aqua;
  border-radius: 5px;
  margin-top: -485px;
}

.ultimate {
  margin-left: 640px;
  width: 290px;
  margin-top: -465px;
  position: relative;
  z-index: -10;
}
.title3 {
  color: white;
  background:lightseagreen;
  border-radius: 5px;
}

.standard .cta-btn {
  color: white;
  background: dodgerblue;
  box-shadow: dodgerblue 0 3px 0 0;
}
.ultimate .cta-btn {
  color: white;
  background: dodgerblue;
  box-shadow: dodgerblue 0 3px 0 0;
}

.best-value .cta-btn {
  color: white;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}
